#root {
    -fx-base: rgb(100, 100, 100);
    -fx-background: rgb(100, 100, 100);
    -fx-control-inner-background:  rgb(100, 100, 100);
    -fx-focus-color: orangered;
    -fx-accent: orangered;
    -fx-outer-border: black;
    //-fx-inner-border: grey;
    //-fx-body-color: orangered;
}

#title {
    //-fx-font-family: 'Garamond';
    -fx-font-family: 'Chiller';
    -fx-font-size: 50px;
    -fx-text-fill: orangered;
}

.text-font {
    -fx-font-famile: 'Halvetica';
    -fx-font-size: 18px;
    -fx-text-fill: orangered;
}

.combo-box {
    -fx-cursor: hand;
    -fx-text-fill: black;
    -fx-font-famile: 'MS Reference Specialty';
    -fx-font-size: 16px;

    -fx-border-color: black;
    -fx-border-radius: 0.0;
    -fx-inner-border: black;
    -fx-outer-border: black;
    -fx-body-color: orangered;
}

.combo-box:hover {
    -fx-body-color: rgb(200,0,0);
}

.button:hover {
    //-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    //-fx-color: -fx-hover-base;
    //-fx-outer-border: black;
    -fx-body-color: rgb(200,0,0);
}

.button {
    -fx-cursor: hand;
    //-fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
    //-fx-background-color: orangered;
    -fx-body-color: orangered;
    -fx-font-famile: 'MS Reference Specialty';
    -fx-font-size: 16px;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 0.0;
    -fx-inner-border: black;
    -fx-outer-border: black;
}

.label {
    -fx-font-family: 'MS Reference Specialty';
    -fx-font-size: 18px;
    -fx-text-fill: rgb(200, 200, 200);
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
}

.combo-box .cell{
    -fx-cursor: hand;
    -fx-text-fill: black;
    -fx-font-famile: 'MS Reference Specialty';
    -fx-font-size: 16px;
}

/*
.root {
	-fx-base: rgb(50, 50, 50);
	-fx-background: rgb(50, 50, 50);
	-fx-control-inner-background:  rgb(50, 50, 50);
	-fx-focus-color: orangered;
    -fx-focused-base: green;
    -fx-outer-border: cyan;
    -fx-inner-border: red;
    -fx-body-color: blue;
	-fx-accent: orangered;
}

.combo-box {
    -fx-cursor: hand;
}

.text-font {
	-fx-font-family: 'Palatino Linotype Bold';
	-fx-font-size: 18px;
	-fx-text-fill: orangered;
	-fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
}

.texttitle {
	-fx-fill: orangered;
	-fx-effect: innershadow(gaussian, #272121, 10, .3, 1, 1);
	-fx-font-size: 60;
	-fx-font-family: 'Palatino Linotype Bold Italic';
}

#singleShotCB {
	-fx-font-family: 'Palatino Linotype Bold';
	-fx-font-size: 18px;
	-fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
    -fx-cursor: hand;
}

#loopingCB {
	-fx-font-family: 'Palatino Linotype Bold';
	-fx-font-size: 18px;
	-fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
    -fx-cursor: hand;
}

.small-text {
	-fx-font-family: 'Palatino Linotype';
	-fx-font-size: 15px;
}

#rootPane {
	-fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-20%));
}

.button:hover {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
	-fx-color: -fx-hover-base;
}

.hand {
	-fx-cursor: hand;
}

.button {
	-fx-cursor: hand;
	-fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
}
*/