#root {
    -fx-base: rgb(250, 250, 250);
}

#title {
    -fx-font-family: 'Garamond';
    -fx-font-size: 30px;
    -fx-text-fill: blue;
}

.text-font {
    -fx-font-famile: 'Halvetica';
    -fx-font-size: 18px;
    -fx-text-fill: blue;
}